.main__form--primary {
  visibility: hidden;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.header__button--primary {
  display: flex;
  justify-content: center;
}

.section__gridContainer--primary {
  display: flex;
  display: grid;
  gap: 50px 50px;
  margin-top: 20px;
  justify-content: center;
}
