// @import '~bootstrap';
//npx mix watch

@mixin formStyle {
    visibility: hidden;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

@mixin topButtonStyle {
    display: flex;
    justify-content: center;
}

@mixin gridStyle {
    display: flex;
    display: grid;
    gap: 50px 50px;
    margin-top: 20px;
    justify-content: center;
}

.main__form--primary {
    @include formStyle();
}

.header__button--primary {
    @include topButtonStyle();
}

.section__gridContainer--primary {
    @include gridStyle();
}